.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.height-res {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 80px;
}
.bio {
  padding: 100px 60px;
  color: white;

  background: rgba(7, 11, 46, 0.1);
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3),
    0px 0px 40px rgba(0, 0, 255, 0.3);
  transition: all 0.3s ease;
}
.bio:hover {
  transform: scale(1.05);
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1),
    0px 0px 40px rgba(0, 0, 255, 0.3);
}
.bio p:nth-child(1) {
  font-size: 32px;
  font-weight: bold;
}
h1 {
  padding: 5px 0;
  font-size: 96px;
}
/* h3 {
  font-size: 32px;
} */

/* bio-image */

.bio-image {
  height: 400px;
  width: 400px;
  background-color: rgb(219, 225, 255);
  border: 2px solid rgba(255, 255, 255, 0.3);

  border-radius: 50%;
  transition: all 0.3s ease;
}

.bio-image-text {
  padding-top: 20px;
  color: white;
}

.bio-image:hover {
  transform: scale(1.05);
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1),
    0px 0px 40px rgba(0, 0, 255, 0.3);
}
